{%- if _articleCtx -%}
{%- set cc = b.config -%}

{%- set _wClass = "" -%}
{%- set _wStyle = "" -%}
{%- if cc.width === "w-page" -%}
  {%- set _wClass = "w-full max-w-5xl mx-auto" -%}
{%- elif cc.width === "w-prose" -%}
  {%- set _wClass = "w-full max-w-prose mx-auto" -%}
{%- elif not cc.width or cc.width.startsWith("w-") -%}
  {%- set _wClass = cc.width if cc.width else "w-full" -%}
{%- else -%}
  {%- set _wStyle = "width:" + cc.width + ";" -%}
{%- endif -%}

{%- set _dir = "flex-row" if cc.direction !== "col" else "flex-col" -%}
{%- set _wrap = " flex-wrap" if cc.wrap === "wrap" else "" -%}
{%- set _h = (" " + cc.height) if cc.height and cc.height !== "h-auto" else "" -%}

{%- set _jus = "justify-start" -%}
{%- if cc.justify === "center" %}{%- set _jus = "justify-center" -%}
{%- elif cc.justify === "end" %}{%- set _jus = "justify-end" -%}
{%- elif cc.justify === "between" %}{%- set _jus = "justify-between" -%}
{%- endif -%}

{%- set _ali = "items-start" -%}
{%- if cc.align === "center" %}{%- set _ali = "items-center" -%}
{%- elif cc.align === "end" %}{%- set _ali = "items-end" -%}
{%- elif cc.align === "stretch" %}{%- set _ali = "items-stretch" -%}
{%- endif -%}

{%- if cc.gapX is defined and cc.gapX is not none %}{%- set _gx = cc.gapX -%}{%- else %}{%- set _gx = 0 -%}{%- endif -%}
{%- if cc.gapY is defined and cc.gapY is not none %}{%- set _gy = cc.gapY -%}{%- else %}{%- set _gy = 0 -%}{%- endif -%}
{%- set _gap = ("gap-" + _gx) if _gx === _gy else ("gap-x-" + _gx + " gap-y-" + _gy) -%}

{%- if cc.paddingTop is defined and cc.paddingTop is not none %}{%- set _pt = cc.paddingTop -%}{%- else %}{%- set _pt = 6 -%}{%- endif -%}
{%- if cc.paddingBottom is defined and cc.paddingBottom is not none %}{%- set _pb = cc.paddingBottom -%}{%- else %}{%- set _pb = 6 -%}{%- endif -%}
{%- if cc.paddingLeft is defined and cc.paddingLeft is not none %}{%- set _pl = cc.paddingLeft -%}{%- else %}{%- set _pl = 0 -%}{%- endif -%}
{%- if cc.paddingRight is defined and cc.paddingRight is not none %}{%- set _pr = cc.paddingRight -%}{%- else %}{%- set _pr = 0 -%}{%- endif -%}
{%- if _pt === _pb and _pl === _pr and _pt === _pl -%}
  {%- set _pad = "p-" + _pt -%}
{%- elif _pt === _pb and _pl === _pr -%}
  {%- set _pad = "py-" + _pt + " px-" + _pl -%}
{%- else -%}
  {%- set _pad = "pt-" + _pt + " pb-" + _pb + " pl-" + _pl + " pr-" + _pr -%}
{%- endif -%}

{%- set _mt = cc.marginTop if cc.marginTop else 0 -%}
{%- set _mb = cc.marginBottom if cc.marginBottom else 0 -%}
{%- set _ml = cc.marginLeft if cc.marginLeft else 0 -%}
{%- set _mr = cc.marginRight if cc.marginRight else 0 -%}
{%- if _mt === _mb and _ml === _mr and _mt === _ml -%}
  {%- set _mar = ("m-" + _mt) if _mt > 0 else "" -%}
{%- elif _mt === _mb and _ml === _mr -%}
  {%- set _mar = ("my-" + _mt + " mx-" + _ml) -%}
{%- else -%}
  {%- set _mar = ("mt-" + _mt + " mb-" + _mb + " ml-" + _ml + " mr-" + _mr) -%}
{%- endif -%}

{%- set _xCls = [] -%}
{%- if cc.backgroundColor %}{%- set _xCls = (_xCls.push("bg-[" + cc.backgroundColor + "]"), _xCls) -%}{%- endif -%}
{%- if cc.borderRadius and cc.borderRadius > 0 %}{%- set _xCls = (_xCls.push("rounded-[" + cc.borderRadius + "px]"), _xCls) -%}{%- endif -%}
{%- if cc.textColor %}{%- set _xCls = (_xCls.push("text-[" + cc.textColor + "]"), _xCls) -%}{%- endif -%}
{%- set _proseCls = "prose max-w-none" if cc.prose !== false else "" -%}
{%- set _bgStyle = "" -%}
{%- if cc.backgroundImage -%}
  {%- set _bgSize = cc.backgroundSize if cc.backgroundSize else "cover" -%}
  {%- set _bgPos = cc.backgroundPosition if cc.backgroundPosition else "center" -%}
  {%- set _bgStyle = "background-image:url('" + cc.backgroundImage + "');background-size:" + _bgSize + ";background-position:" + _bgPos + ";background-repeat:no-repeat;" -%}
{%- endif -%}
{%- set _bgStyle = (_bgStyle + (cc.customStyle if cc.customStyle else "")) -%}

<div {% if cc.elementId %}id="{{ cc.elementId }}"{% endif %} class="flex {{ _dir }}{{ _wrap }} {{ _wClass }} {{ _jus }} {{ _ali }} {{ _gap }} {{ _pad }} {{ _mar }} {{ _xCls | join(' ') }} {{ _proseCls }}"
     {% if _bgStyle or _wStyle %}style="{{ _wStyle }}{{ _bgStyle }}"{% endif %}>
  {{ _articleCtx.body | safe }}
</div>
{%- endif -%}
